development/.env
development/pgdata/18/docker
**.DS_Store
.DS_Store
development/data_science/catboost_info
.venv
.vscode
**__pycache__
development/dagster_home
development/database/transfering_data_to_sql.py
development/airflow-postgres-data
development/airflow/logs/.DS_Store
development/airflow/logs/*
