# ML
mlflow==2.19.0
scikit-learn==1.6.1
pandas==2.2.3
numpy<2.0
joblib==1.4.2
catboost==1.2.7

# Dagster (Pinned to match modern ML stack compatibility)
dagster==1.9.10
dagster-webserver==1.9.10
dagster-postgres